* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(20, 20, 20);
  min-height: 100svh;
  font-family: "Quantico", sans-serif;
}

/* -------------------------------<Top>----------------------------------- */

header {
  position: fixed;
  opacity: 60%;
  width: 100%;
  background: rgb(60, 60, 60);
  border-bottom: 5px solid rgb(0, 212, 255);
  z-index: 5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
}

#home {
  position: absolute;
  max-height: 120px;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

li {
  list-style: none;
  text-align: center;
  background-color: rgb(74, 74, 74);
  border: 3px solid rgb(0, 212, 255);
  padding: 1rem;
  border-radius: 3rem;
}

a {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-size: 2rem;
  font-weight: 1000;
  letter-spacing: 0.5px;
  transition: 0.15s;
}

#info {
  position: relative;
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: gray;
  line-height: 1.2;
  letter-spacing: 1.5;
}

/* -------------------------------------------------------------------------------------<Hero>----------------------------------------------------------------------------------------- */

.gif-container {
  margin-block: 5svh;
  display: flex;
  justify-content: center;
}

#gif {
  height: 350px;
  width: 350px;
}

h2 {
  justify-content: center;
  display: flex;
  color: rgb(150, 150, 150);
  font-size: 2rem;
  text-align: center;
  margin-block: 1em;
}

main {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 30px;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------<First grid>------------------------------------------------------------------------------------------ */

.grid-container1 {
  background: rgb(0, 212, 255);
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgb(20, 20, 20) 50%
  );
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#video {
  display: flex;
  justify-content: center;
  width: 100%;
}

#first-grid-item1 {
  background-image: url(./assets/blackhole.png);
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}

#first-grid-item2 {
  background-image: url(./assets/galaxy.png);
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
}

#first-grid-item3 {
  background-image: url(./assets/planet.png);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}

#first-grid-item4 {
  background-image: url(./assets/props.png);
  background-size: cover;
  grid-column: 1/2;
  grid-row: 2/3;
}

#first-grid-item5 {
  background-image: url(./assets/venom31.png);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 2/3;
}

#first-grid-item6 {
  background-image: url(./assets/spider.png);
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/3;
  animation: center-image 6s;
}

#first-grid-item7 {
  background-attachment: fixed;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 3/4;
}

#first-grid-item8 {
  background-color: rgb(20, 20, 20);
  grid-column: 1/2;
  grid-row: 3/4;
}

#first-grid-item9 {
  background-color: rgb(20, 20, 20);
  grid-column: 3/4;
  grid-row: 3/4;
}
/* ------------------------------------------------------------------------------------------<Second grid>------------------------------------------------------------------------------------------ */

.grid-container2 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 15em);
  grid-auto-rows: 15em;
  grid-template-areas:
    "a b b c"
    "a b b c"
    ". d d .";
}

#second-grid-item1 {
  background-image: url(./assets/grid1.png);
  background-size: cover;
  grid-area: a;
  background-color: red;
  border-radius: 50% 0 0 50%;
}

#second-grid-item2 {
  grid-area: b;
  background-color: transparent;
  color: rgb(95, 215, 255);
  text-align: center;
  letter-spacing: 2px;
}

#second-grid-item3 {
  background-image: url(./assets/grid2.png);
  background-size: cover;
  border-radius: 0 50% 50% 0;
  grid-area: c;
}

#second-grid-item4 {
  grid-area: d;
  background-color: blue;
  border-radius: 0 0 50% 50%;
}

/* ---------------------------------<Effects>---------------------------------- */

a:hover {
  color: white;
}

a:visited {
  color: rgb(30, 30, 30);
}

#home:active {
  max-height: 125px;
}

/* @keyframes center-image {
  0% {
    scale: 310% 310%;
    transform: translateY(-100%);
  }
  80% {
    scale: 310% 310%;
  }
  100% {
    scale: 100%;
    transform: translateY(0);
  }
} */
