* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100svh;
}
#profile-pic {
  max-height: 100px;
  border-radius: 0px 0px 50px 0px;
  border: 1px solid black;
}
header {
  background: rgb(201, 31, 31);
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-size: 18px;
  font-weight: 1000;
  letter-spacing: 0.5px;
  transition: 0.15s;
}

a:hover {
  color: white;
}

a:visited {
  color: rgb(30, 30, 30);
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  margin-right: 25px;
  list-style: none;
  column-gap: 20px;
}

main {
  display: flex;
  border: 1px solid black;
}

#first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

p {
  font-size: 30px;
  width: 100%;
  border: 1px solid black;
}

.gif-container {
  background-color: black;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#gif {
  height: 350px;
  width: 350px;
}

#grid-container {
  background: rgb(0, 212, 255);
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 0%,
    rgba(2, 0, 36, 1) 50%
  );
  border: 1px black solid;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgb(0, 0, 255);
  min-height: 200px;
  color: white;
  border: 1px solid black;
}

#video {
  display: flex;
  justify-content: center;
  max-height: 200px;
  width: 100%;
}

#box1 {
  background-image: url(./assets/blackhole.png);
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
}

#box2 {
  background-image: url(./assets/galaxy.png);
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
}

#box3 {
  background-image: url(./assets/planet.png);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}

#box4 {
  background-image: url(./assets/props.png);
  background-size: cover;
  grid-column: 1/2;
  grid-row: 2/3;
}

#box5 {
  background-image: url(./assets/spider.png);
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/3;
}

#box6 {
  background-image: url(./assets/venom31.png);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 2/3;
}

#box7 {
  background-attachment: fixed;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 3/4;
}
